md-card {
    max-width: 400px;
    margin: 2em auto;
    text-align: center;
}

.signin-content {
    padding: 60px 1rem;
    width: 30%;
    position: absolute;
    top: 25%;
    left: 20%;
    transform: translate(-50%, -50%);
}

.full-width-input {
    width: 100%;
}

h3 {
    color: indigo;
}